.registration-div {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.form-group {
  width: 700px;
}

.around-register {
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  backdrop-filter: blur(30px)
}

.link {
  font-size: 20px;
  text-decoration: none;
}

.login {
  color: white;
}
.error-div{
  text-align: center;
}


h2{
  text-align: center;
}

span{
  color: red;
  font-weight: bold;
}

.label {
  font-size: 20px;
  color: white;
}
a{
  color:white;
}
