span {
  cursor: pointer;
}

i {
  font-size: 50px;
}

.logo-div {
  margin-right: 2%;
}

.nav-link{
  font-size: 18px
}

.active{
  font-weight: bold;
}

.logout{
  font-weight: bold;
}
.logout:hover{
 color:darkred !important;
}
.logout-li{
  margin-left:auto
}
i{
  font-size:50px
}
.navbar-div{
  border-bottom: 2px solid black;margin-top:5%
}
ul{
  width: 100%;
}
