.option-span {
  margin-right: 25px;
  cursor: pointer;
}

i {
  font-size: 20px
}

th {
  text-align: center;
}
h2{
  text-align: center
}

.example-form {
  min-width: 200px;
  max-width: 800px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


.author-info {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;


}

.no-books {
  text-align: center
}

.author-table {
  margin-top: 10%
}

.search-div {
  width: 500px;
  margin-bottom: 5%
}

.searc-lebel {
  margin-bottom: 3%
}

.options-td {
  width: 300px;
  text-align: center
}

.data {
  background: white;
  height: 100%;
  padding: 5%
}
