<div class="registration-div">
  <div class="around-register">
    <div class="form-group">
      <a href="#" class="link-primary float-right">Signup</a>
    </div>
    <div class="form-group">
      <h2>Login</h2>
    </div>
    <form name="login" novalidate>
      <div class="form-group">
        <label class="label">UserName</label>
        <input class="form-control" type="text" name="username" placeholder="username">
      </div>
      <div class="form-group">
        <label class="label">Password</label>
        <input class="form-control" type="password" name="password" placeholder="password">
      </div>
      <br>
      <button type="submit" class="btn btn-secondary">Login</button>
    </form>
  </div>
</div>
