.registration-div {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.form-group {
  width: 700px;
}

.around-register{
  border: 1px solid white;
  border-radius:20px;
  padding: 20px;
}
.label{
  font-size:20px;
  color:white;
}
