<div >
  <div class="user-info">
    <mat-card class="example-card">
      <mat-card-title>USER INFO</mat-card-title>
      <mat-card-content>
        <label>Username:</label>
        <h4>{{username}}</h4>
      </mat-card-content>
    </mat-card>
  </div>
  <button class="btn btn-success my-2 my-sm-0" *ngIf="isAdmin" (click)=openAddAuthorDialog()>Add Author
  </button>
  <h2 style="text-align: center">AUTHORS LIST</h2>
</div>
<div class="author-table" >
  <div class="search-div">
    <div class="form-group">
      <label class="searc-lebel"><b>SEARCH</b></label>
      <input [ngModel]="search" (ngModelChange)="authorSearch($event)" class="form-control" type="text" name="title"
             placeholder="Author name">
    </div>
  </div>
  <div *ngIf="length">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">FULL NAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">OPTIONS</th>
      </tr>
      </thead>
      <tbody *ngFor="let data of authorsData;">
      <tr>
        <td>
          {{data.fullName}}
        </td>
        <td>
          {{data.email}}
        </td>
        <td class="option-td">
          <div class="options-div">
          <span class="option-span" matTooltip="Info about author books"
                aria-label="Button that displays a tooltip when focused or hovered over" (click)=authorBooks(data.id)><i
            class="fas fa-book"></i></span>
            <span class="option-span" matTooltip="Edit Author"
                  aria-label="Button that displays a tooltip when focused or hovered over" *ngIf="isAdmin"
                  (click)=openEditAuthorDialog(data)><i class="fas fa-user-edit"></i></span>
            <span class="option-span" matTooltip="Delete Author"
                  aria-label="Button that displays a tooltip when focused or hovered over" *ngIf="isAdmin"
                  (click)=openDeleteAuthorDialog(data.id)> <i
              class="fas fa-trash-alt"></i></span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <mat-paginator color="accent" #paginator [length]="length" [pageSize]="pageSize" showFirstLastButtons
                   [pageSizeOptions]="getPageSizeOptions()" (page)="lookup($event)">
    </mat-paginator>
  </div>
  <div *ngIf="!length" class="no-authors">
    <h2>No Authors</h2>
  </div>

</div>
