<div class="modal-header">
  <h5 class="modal-title">Add Book</h5>
</div>
<form *ngIf="authorForm" [formGroup]="authorForm"
      (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <fieldset>
      <div class="form-row">
        <div class="col-md-12">
          <label><b>First Name</b></label>
          <input type="text" class="form-control" required="true" formControlName="firstName"
                 placeholder="First Name">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          <label><b>Last Name</b></label>
          <input type="text" class="form-control" required="true" formControlName="lastName"
                 placeholder="Last Name">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          <label><b>Email</b></label>
          <input type="email" class="form-control" required="true" formControlName="email"
                 placeholder="Email">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          <label><b>Username</b></label>
          <input type="text" class="form-control" required="true" formControlName="username"
                 placeholder="Username">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          <label><b>Description</b></label>
          <input type="text" class="form-control" required="true" formControlName="password"
                    placeholder="Password">
        </div>
      </div>
      <div class="row">
      </div>
    </fieldset>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" type="submit" [disabled]="!authorForm.valid">Add Author</button>
    <button type="button" class="btn btn-secondary" (click)="onNoClick()" data-dismiss="modal">Close</button>
  </div>
</form>
