.registration-div {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.form-group {
  width: 500px;
}

.around-register {
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  backdrop-filter: blur(30px)
}

.label {
  font-size: 20px;
  color: white;
}

.login {
  color: white;

}
.link {
  font-size: 20px;
  text-decoration: none;
  display: block;
  margin-top: 15px;
}

h2 {
  text-align: center;
}

.error-div {
  text-align: center;
  margin-top: 10px;
  color: red;
  font-size: 20px;
  height:20px;
}

a {
  color: white;
  text-align: center;
}

a:hover {
  color: lightgrey;
}

.btn-primary {
  width: 100%
}
