<div class="modal-header">
  <h5 class="modal-title">Edit Book</h5>
</div>
<form *ngIf="editAuthorForm" [formGroup]="editAuthorForm"
      (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <fieldset>
      <div class="form-row">
        <div class="col-md-12">
          <label><b>Full Name</b></label>
          <input type="text" class="form-control" required="true" formControlName="fullName"
                 placeholder="Full Name">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          <label><b>Email</b></label>
          <input type="email" class="form-control" required="true" formControlName="email"
                 placeholder="Email">
        </div>
      </div>
      <div class="row">
      </div>
    </fieldset>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" type="submit" [disabled]="!editAuthorForm.valid">Edit Author</button>
    <button type="button" class="btn btn-secondary" (click)="onNoClick()" data-dismiss="modal">Close</button>
  </div>
</form>
